<?xml version="1.0" encoding="utf-8"?>
<UserSetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DescriptionOn>false</DescriptionOn>
  <LoopChapter>true</LoopChapter>
  <DisplayAllPropertiesInDescription>false</DisplayAllPropertiesInDescription>
  <RandomOn>false</RandomOn>
  <SkipIntro>false</SkipIntro>
  <WhatToDisplay>ThaiScript</WhatToDisplay>
  <WhatToTrain>ThaiFonet</WhatToTrain>
</UserSetting>