<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LearnThaiApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.35.1.0" newVersion="1.35.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth.PlatformServices" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.35.1.0" newVersion="1.35.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.1.0" newVersion="3.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.Gax.Grpc" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Api.CommonProtos" publicKeyToken="3ec5ea7f18953e47" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <LearnThaiApplication.Properties.Settings>
      <setting name="DescriptionOn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsLooping" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisplayAllPropertiesInDescription" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RandomOn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SkipIntro" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoPlaySounds" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowSaveLocation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SkipCompletedWords" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ActivateSpeechRecognition" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WhatToDisplay" serializeAs="String">
        <value />
      </setting>
      <setting name="WhatToTrain" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedVoice" serializeAs="String">
        <value />
      </setting>
      <setting name="DebugFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="ImageFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="LanguageFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="WebFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="SoundFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="Window_Width" serializeAs="String">
        <value>1600</value>
      </setting>
      <setting name="Window_Height" serializeAs="String">
        <value>800</value>
      </setting>
    </LearnThaiApplication.Properties.Settings>
  </userSettings>
</configuration>